.card {
		background-color: rgba(196, 196, 196, 50%);
		padding: 5px;
        margin-top: 50px;
        width: 375px;
        height: 200px;
		.info {
			border-bottom: 3px solid #fff;
		}
        .stats {
			border-top: 3px solid #fff;

        }
	
}
