.footer{
    margin: 1%;
    width: 100%;
    border-top: 1px solid white;
    display: grid;
    .img{
        margin: 1% 0 0 0;
        width: fit-content;
    }
    .l:hover{
        transform: scale(1.2);
    }
}
