.card {
	background-color: rgba(196, 196, 196, 50%);
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: left;
	margin-top: 50px;
	width: 400px;
	height: 260px;
	.statdiv
	{
		flex: 1;
		display: flex;
	}
	.stats2
	{
		width: 65%;
		border-right: 1px solid #fff;
	}
	.stats3
	{
		width: 35%;
		@extend .stats2;
		border-right: unset;
	}
	.info {
		line-height: 35px;
		border-bottom: 1px solid #fff;
		.top {
			
			border-bottom: 1px solid #fff;
			h2 {
				font-family: "Corben", cursive;
				font-size: 36px;
			}
			h3 {
				font-size: 18px;
			}
		}

	}
	.statsContainer {
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		padding: 0px 10px 5px 5px;
		.stats {
			font-family: "Roboto Slab", serif;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			.time {
				font-size: 14px;
			}
			.apy {
				font-size: 14px;
			}

			.coins {
				
				.coin {
					width: 37px;
					border: 1px solid black;
					border-radius: 50%;
					margin: 5px -20px 0 0;
				}
			}
		}
	}
	.img {
		background-color: #d6f2f1;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		padding: 10px;
		margin-right: 20px;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
		button {
			padding: 5px 50px;
			margin: 0 15px;
			border: none;
			border-radius: 20px;
			font-size: 18px;
			background-color: hsla(285, 92%, 63%, 75%);
		}
	}
}
