.navbar {
	padding: 20px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	justify-content: space-between;
	overflow: hidden;
	.links {
		display: flex;
		flex-direction: row;
		a {
			margin: 0 25px;
			color: var(--white);
			font-family: "Roboto Slab" serif;
			font-weight: 500;
			text-decoration: none;
		}
	}
	.connectbtn:active {
		background-color: var(--active);
	}

	.connectbtn {
		// TODO: The button seems to cause the links to move a bit	
		font-size: 20px;
		filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
		border-width: 0px;
		padding: 5px 20px;
		margin: 0px;
		background-color: var(--regular);
		color: var(--white);
		font-weight: 500;
		border-radius: 10px;
	}
}
