.mmbtn {
  text-align: center;
  border: 3px solid green;
  width: 200px;
  height: 50px;
  padding-top: 8px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.mmbtn:hover {
  background-color: green;
  color: white;
}
