.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.optionalBodyImg {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutCard {
  width: 40%;
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2),
    0 16px 40px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s;
  background-color: #bf81ff;
  padding-bottom: 50px;
  /* color: white; */
}

.aboutCard:hover {
  transform: scale(1.05);
}
.socialLink:hover {
  transform: scale(1.3);
}

.introCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

/* sidebar when at mobile screen size */
.topSidebar {
  display: none;
  background-color: #eddbf4;
}

.StartTXBtn {
  display: block;
  border-radius: 10px;
  background-color: #bf81ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  /* width: 250px; */
  transition: all 0.5s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  /* border: 6px solid #ddaf94; */
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.StartTXBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.StartTXBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.StartTXBtn:hover span {
  padding-right: 25px;
}
.StartTXBtn:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 700px) {
  .introCards {
    flex-direction: column;
  }
  .aboutCard {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .optionalBodyImg {
    width: 400px;
  }
  .topSidebar {
    display: block;
  }

  /* styly for the navbar at the regular screen size */
  .topMenu {
    display: none;
  }
}
