.nav {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow: visible;
}
.links {
  margin-top: 40px;
  margin-left: 25%;
  width: max-content;
}
.links a{
  padding-left: 5%;
  padding-top: 10%;
  color: #FFFFFF;
  font-family: 'Roboto Slab' serif;
  font-weight: 500;
  font-size: 26px;
}

.inline {
  display: inline;
}
.tagline{
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.connectbtn:active{
  background-color: #9b46b8;
}
.connectbtn {
  margin-top: 30px;
  margin-left: 60%;
  width: 150px;
  height: 44px;
  border-width: 0px;
  background-color: #CC49F7;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto Slab' serif;
  border-radius: 10%;
}
.main {
  margin: 0 auto;
  padding: 0 auto;
  background: linear-gradient(287.56deg, #5D86EF 0%, #F2B6F3 100%);
  min-height: 400vh;
  
}
.icon {
  margin-top: 20px;
  margin-left: 50px;
}
.title {
  padding-top: 5%;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto Slab' serif;
  font-size: 70px;
  font-weight: 500;
}
.desc{
  margin-left: 30%;
  color: #FFFFFF;
  font-family: 'Roboto Slab' serif;
  font-size: 40px;
  font-weight: 340;
}
.purp {
  color: #9b46b8;
  
  font-family: 'Roboto Slab' serif;
  font-size: 40px;
  font-weight: 550;
}
.cardscontainer{
  display: grid;
  grid-auto-flow: column;
  overflow: visible;
}
.cards{
  width: 75%;
  display: flex;
  height: 150%;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  margin-left: 10%;
  color: #FFFFFF;
  background-color: #cc49f7c4;
}
@font-face {
  font-family: 'Roboto Slab', serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
}